<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DatEscape</title>
</head>

<body>
    <a href="https://datescape.shop/">
        <img src="https://datescape.shop/static/images/waterlogo.png" alt="" style="margin-bottom: 30px;">
    </a>
    <br>
    <p>안녕하세요, DateScape입니다.<br>회원가입 인증 이메일입니다.<br>인증을 완료하고 DateScape를 사용해보세요.</p>
    <a href="{{ backend_base_url }}users/activate/{{uidb64}}/{{token}}">인증하기</a>
</body>

</html>